{% extends "base.html" %}
    
{% block content %}
<main class="main main--about">
    <p>
        Meu nome é Matheus Felipe, tenho 19 anos e sou um estudante de Engenharia da Computação, estando no 4º período
        do curso, e iniciei meus estudos de programação a quase 2 anos. 
    </p>
    <p>
        Nesse meio tempo, tive experiência com as linguagens Python, C, C++ e um pouco de JavaScript. 
        Participei de projetos envolvendo:
        <li> Ciência de dados, Cluster e Machine Learning: <a class="link__about" target="_blank"
            href="https://colab.research.google.com/drive/1z9AN_y6vdLr8FW_UZoOjWP8kfVqsN3nu">
            Crimes in Brazil</a> e <a class="link__about" target="_blank"
            href="https://colab.research.google.com/drive/1lXpfXbxIB522qxyWcc6QaVg3QATJM_fv#scrollTo=PMSiSdHgHcWd" 
            >Credit Card Frauds</a>.</li>
        <li> CRUD e orientação a objeto: projeto <a class="link__about" href="https://github.com/MatheusFelipeLS/Livraria">Livraria</a>.</li>
        <li> Visão Computacional: Robô UG0.</li>
        <li> Interface gráfica: APHID e Jogo de memorização de cores.</li>
    </p>
</main>
{% endblock %}