{% extends 'base.html' %}

{% block content %}
    <main class="main main--project">
        <div>
            <img
                class="hero"
                src="{{ url_for('static', filename=project['hero']) }}"
                alt="A hand holding a pen, about to write something in a project planner."
            />

            <article class="project">
                <article class="project__content">
                    <h2 class="project__heading">{{ project['name'] }}</h2>

                    <p>
                        APHID é um sistema de simulação de prensa hidráulica, feito para resolver problemas genéricos 
                        envolvendo o Teorema de Pascal. Desenvolvido por mim e outro colega
                        (<a class="git-dos-amigos" href="https://github.com/kaiocesarb15">Kaio César</a>), foi um 
                        projeto para a cadeira de Mecânica para Engenharia da Computação.  
                    </p>
                    <p>
                        Esse projeto foi meu primeiro trabalho com Interface Gráfica. 
                    </p>
                </article>

                <section>
                    <article class="project__meta-group">
                        <h3 class="project__heading project__heading--meta">Tecnologias usadas</h3>

                        <ul class="technology-list">
                            <li class="technology-list__item">Python</li>
                            <li class="technology-list__item">Flet</li>
                        </ul>
                    </article>

                    <a class="cta" href="{{ project['prod'] }}">
                        <img class="cta__icon" src="{{ url_for('static', filename='img/pointer.svg') }}">
                        Ver repositório
                    </a>
                </section>
            </article>
        </div>
    </main>
{% endblock %}